.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.btn-pos-first {
    background-color: hsl(285, 39%, 54%);
    border-color: hsl(285, 39%, 54%);
}

.btn-pos-sec {
    background-color: hsl(213, 39%, 54%);
    border-color: hsl(213, 39%, 54%);

}

.btn-pos-third {
    background-color: hsl(120, 39%, 54%);
    border-color: hsl(120, 39%, 54%);
}

.btn-neg-first {
    background-color: hsl(45, 64%, 58%);
    border-color: hsl(45, 64%, 58%);
}

.btn-neg-sec {
    background-color: hsl(25, 64%, 58%);
    border-color: hsl(25, 64%, 58%);
}

.btn-neg-third {
    background-color: hsl(2, 64%, 58%);
    border-color: hsl(2, 64%, 58%);
}



.btn-success:pressed {
    background-color: rgb(69, 69, 69);
}

#menuButton {
    padding-right: 1em;
}


/*Fixed header code*/
.headcol-dark {
    position:absolute;
    width:4em;
    top:auto;
    border-right: 0px none black;
    font:bold;
    background-color: #202020;
}

.headcol {
    position:absolute;
    width:4em;
    top:auto;
    border-right: 0px none black;
    font:bold;
    background-color: #FFF;
}

.centeredcontainer {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.cetercard {
  margin:0 auto;
}
.nounderline{
  text-decoration:none;
  cursor:pointer;
}
