.wrapper {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    /*height: 5%;*/
    /*min-height: 48px;*/
    margin: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 0;
    /* box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); */
    /* border-bottom: 1px solid #ECF0F1; */
    border-bottom: 1px solid #dFe7e9;
}

.navigation {
    display: flex;
    /*height: 100%;
    width: 90%;*/
    align-items: center;
    justify-content: center;
}

.nav-bar-link {
    font-family: 'Source Sans Pro', Arial;
    font-size: 18px;
    display: inline-block;
    padding: 20px 20px;
    color: rgb(75, 75, 75);
    /* min-width: 100px; */
    /*width: 100%;*/
    text-align: center;
    //vertical-align: middle;
    word-break: break-word;
}

.nav-bar-link:hover{
    color: black;
    /* background-color: rgb(230, 230, 230); */
}

#active-page {
    /* border-bottom: 5px solid #0d5837; */
    color: black;
    -webkit-box-shadow: inset 0 -5px 0 0 #0d5837;
    box-shadow: inset 0 -5px 0 0 #0d5837;
}

.space {
    display: none;
    height: 63px;
    margin: 0;
}

#logo {
    margin: 0 10px;
}

.navigation img {
    width: auto;
    height: 30px;
    /*padding: 0 10px;*/
    margin auto 0;
    display: inline-block;
}

.icon {
    color: rgb(75, 75, 75);
    margin: 0 15px;
    display: none;
}

.icon:hover {
    color: black;
}

/* When the screen is less than 650 pixels wide, hide all list items, except for the first one ("Home").
Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:650px) {
    .wrapper {
        flex-direction: column;
    }
    #nav-bar-sub {
         display: none;
    }
    .nav-bar-link {
        display: block;
    }
    #home {
        display: inline-block;
    }
    .icon {
        float: right;
        display: inline-block;
    }
    #logo {
        display: inline-block;
    }
    #nav-bar-sub.responsive {
        display: block;
    }
}
