@-ms-viewport{
  width: device-width;
  height: device-height;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.woff);
}

* {
    font-family: Roboto,Arial,sans-serif;
}

a {
    color: inherit;
}

html, body{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(13, 88, 55);*/
}
body {
    background: #F1F3F5;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', Arial;
    margin:  40px auto;
    width: 100%;
    /*height: 90%;*/
    /*vertical-align: middle;*/
}

.button-container {
    display: block;;
    /*height: 95%;*/
    width: 50%;
    min-width: 300px;
    max-height: 90%;
    margin: 0 auto;
}

.button-container p {
    height: 2px;
    min-width: 300px;
    margin: 0 auto;
}

.button {
    width: 100%;
    font-size: 42px;
    line-height: 48px;
    display: block;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    /*color: rgb(75, 75, 75);*/
    font-weight: 500;
    /*background-color: white;*/
    background-color: rgb(13, 88, 55);
    padding: 4% 0;
    /*min-height: 70px;
    height: 110px;*/
    /*margin: 0 auto;*/
}

.button:hover {
    background-color: rgb(3, 78, 45);
    /*background-color: rgb(245, 245, 245);*/
}

.wrapper-sorting {
    display: block;
    width: 100%;
    background-color: rgb(13, 88, 55);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.fixed-bar {
    position: fixed;
    top: 0;
}

#sort-space {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 0;
}

.sorting {
    /*width: 50%;*/
    margin: 0 auto;
    text-align: center;
}

.sort-button {
    display: inline-block;
    border: none;
    /*border-radius: 7px;*/
    margin: 0;
    width: 150px;
    height: 60px;
    min-width: 100px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

.sort-button:hover{
    background-color: rgb(245, 245, 245);
    color: black;
}

.pressed {
    background-color: rgb(245, 245, 245);
    color: black;
}

.sort-button:focus {
    outline: 0;
}

.filter-container {
    display: none;
    width: 100%;
    min-width: 100px;
    background-color: grey;
    height: auto;
    background-color: rgb(245, 245, 245);
}

.filter-box {
    width: 150px;
    margin: 0 auto;
}

.filters {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    /*visibility: hidden;*/
    width: 50%;
    height: auto;
    /*position: absolute;*/
    background-color: rgb(245, 245, 245);
    /*top: -100px;*/
    /*z-index: -1;*/
    text-align: left;
}

.filters p {
    margin: 0;
    display: block;
}

.sorters {
    height: 20px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.sorters input {
    margin: 0 10px;
}

.sorters p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.disc {
    width: 150px;
}

.show {
    display: block;
}

.teamTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    overflow-x: auto;
}

.overall-table {
    overflow-x: auto;
}

.teamTable td, .teamTable th{
    border: 2px solid #dddddd;
    padding: 10px 15px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

/* .form input {
    width: 100px;
    display: block;
    color: red;
} */

a {
    text-decoration: none
}
