body {
    background: #F6F6F6;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 60px;
}

.stat-container {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.stat {
    margin: 30px 30px;
    /*padding: 10px;*/
    display: inline-block;
    vertical-align: middle;
}

.stat-content {
    background: #FFF;
    border: 1px solid #DDD;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stat-header {
    font-size: 18px;
    background: #EEE;
    font-weight: bold;
    margin: 0px;
    padding: 5px 20px;
    border: 1px solid #DDD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
}

.numbers {
    display: inline-block;
    margin: 30px -10px 30px 20px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    vertical-align: middle;
    border-right: 1px solid #DDD;
}

.stat-number {
    font-size: 42px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.stat-small-number {
    font-size: 16px;
    margin: 0;
}

.chart {
    display: inline-block;
    width: 600px;
    height: 300px;
    background: #FFC;
    vertical-align: middle;
    margin: 10px;
}

.stat-table th {
    padding: 10px 20px;
}

.left-column {
    text-align: left;
}

.left-column:hover {
    background-color: rgb(240, 240, 240);
}

.stat-table td {
    text-align: right;
    padding: 10px;
    border: 0;
    /*width: 110px;*/
}

.stat-table td:hover {
    /*background: rgba(200, 200, 200, 0.6)!important;*/
    /*filter: brightness(75%)!important;*/
    filter: opacity(60%)!important;
}

.disabled {
    background-image: linear-gradient( to top right, rgba(0, 0, 0, 0) calc(50% - 1px), black, rgba(0, 0, 0, 0) calc(50% + 1px));
    filter: brightness(75%)!important;
    filter: opacity(50%)!important;
}

.stat-table tr td {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin: 10px;
}

.stat-table tr th {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin: 10px;
}

.stat-table {
    margin: 0 auto;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #DDD;
    padding: 30px;
    /*border-collapse: separate;*/
    border-spacing: 0 2px;
}

#averages {
    font-size: 28px;
    font-weight: bold;
}
