

.main {
    display: flex;
}

.team-name {
    text-align: center;
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #0d5837;
    color: #FFF;
}

.test{
    display: inline-block;
}

.side-container {
    float: right;
    display: inline-block;
    /* background-color: #FFF; */
    margin-top: 20px;
    margin-right: 2%;
    width: 17%;
    /* position: relative; */
}

#side-content {
    /* position: absolute; */
    /* width: inherit; */
}

.fixed-side {
    position: fixed;
    /* background-color: purple; */
    right: 2%;
    top: 20px;
    width: inherit;
}

.stat-numbers {
    display: flex;
    width: 20%;
    font-size: 36px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    border-right: 1px #ccc solid;
    margin-right: 10px;
}

.stat-data {
    text-align: left;
    padding: 10px 20px;
    /* max-width: 150px; */
}

.stat-number {
    font-size: 14px;
    text-align: left;
    display: inline-block;
}

.stat-number-data {
    float: right;
}

.charts {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 0 !important;
    background-color: #FFF;
    height: 350px;
}

.hidden-chart {
    display: none;
}

.chart-container {
    width: 80%;
}

.stat-content {
    display: flex;
    background-color: #FFF;
    padding: 15px 0;
}

.overall-stat-row {
    text-decoration: none;
    display: flex;
    /* background-color: #FFF; */
    padding: 8px;
    /* min-width:  */
}

.overall-stat-row:hover {
    background-color: #054826;
    color: #FFF;
}

.active-row {
    background-color: #0d5837;
    color: #FFF;
}

.ind-row {
    background-color: #0d5837;
    color: #FFF;
}

.stats-container {
    display: block;
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    width: 77%;
    align-items: center;
    text-align: center;
    /* background-color: #DDD; */
}

.stat-container {
    /* display: flex; */
    min-height: 100px;
    /* background-color: green; */
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.stats-title {
    text-align: left;
    /* padding: 7px 0; */
    font-size: 25px;
    background-color: #0d5837;
    color: #FFF;
    display: block;
    /* font-weight: bold; */
    justify-content: center;
}

.stat-title {
    display: inline-block;
    margin: 0 25px;
    padding: 7px 0;
}

.graph-arrow {
    display: flex;
    justify-content: center;
    float: right;
    font-size: 18px;
    padding: 13px 20px;
    color: white;
}

.graph-arrow:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.graph-number {
    /* display: flex; */
    justify-content: center;
    float: right;
    font-size: 18px;
    padding: 11px 15px;
}

.stats {
    display: flex;
}

.stat-icon {
    height: 100;
    width: 100;
    display: block;
    margin: 20 auto;
}

.over-stat-data {
    /* background-color: purple; */
    font-size: 22px;
}

.stat {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stat {
    /* margin: 0 4px; */
    padding: 10px;
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px;
}

.pent-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pent-container {
    display: inline-block;
    margin-left: 10px;
}

.stat-header {
    font-size: 18px;
    background: #EEE;
    font-weight: bold;
    margin: 0px;
    padding: 5px 20px;
    border: 1px solid #DDD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
}

.numbers {
    display: inline-block;
    margin: 30px -10px 30px 20px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    vertical-align: middle;
    border-right: 1px solid #DDD;
}

.stat-small-number {
    font-size: 16px;
    margin: 0;
}

.comment {
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 16px;
    padding: 5px;
    cursor: context-menu;
    user-select: none;
}

.comment:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.comment:active {
    background-color: rgb(230, 230, 230);
}

.was-defense {
    background-color: rgba(255, 0, 255, 0.4);
}

.had-defense {
    background-color: rgba(0, 255, 255, 0.4);
}

.had-defense:hover {
    background-color: rgba(0, 210, 210, 0.4)!important;
}

.chart {
    display: inline-block;
    width: 600px;
    height: 300px;
    background: #FFC;
    vertical-align: middle;
    margin: 10px;
}

th {
    padding: 10px 20px;
}

.left-column {
    text-align: center;
}

.left-column:hover {
    background-color: rgb(240, 240, 240);
}

td {
    text-align: right;
    padding: 10px;
    border: 0;
    /*width: 110px;*/
}

td:hover {
    /*background: rgba(200, 200, 200, 0.6)!important;*/
    /*filter: brightness(75%)!important;*/
    filter: opacity(60%)!important;
}

.disabled {
    background-image: linear-gradient( to top right, rgba(0, 0, 0, 0) calc(50% - 1px), black, rgba(0, 0, 0, 0) calc(50% + 1px));
    filter: brightness(75%)!important;
    filter: opacity(50%)!important;
}

tr td {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin: 10px;
}

tr th {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin: 10px;
}

.table {
    margin: 15px auto;
    width: 95%;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #DDD;
    padding: 30px;
    /*border-collapse: separate;*/
    border-spacing: 0 2px;
    max-width: 850px;
}

#averages {
    font-size: 28px;
    font-weight: bold;
}


/* When the screen is less than 768 pixels wide */
@media screen and (max-width:1100px) {
    .stat-number {
        display: block;
        text-align: center;
        float: none;
    }
}

@media screen and (max-width:600px) {
    .side-container {
        display: none;
    }

    .stats-container {
        width: 96%;
    }

    .stat-icon {
        width: 60px;
        height: 60px;
    }

    .over-stat-data {
        font-size: 18px;
    }
}
